/*header styles*/
.header {
    background-color: #FFFFFF;

}

.logo {
    width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}


.item-index1 {
    width: 49px;
    height: 16px;
}

.link-index1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.item-index2 {
    width: 77px;
    height: 16px;
}

.link-index2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.item-index3 {
    width: 68px;
    height: 16px;
}

.link-index3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.item-contacts1 {
    width: 135px;
    height: 16px;
}

.link-contacts1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.item-contacts2 {
    width: 122px;
    height: 16px;
}

.link-contacts2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

/*hero styles*/
.hero {
    background-color: #2F303A;
}

.hero-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-btn {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/*features*/
.list-features {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.title-features {
    width: 270px;
    height: 16px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.work {
    background: #E5E5E5;
}

.work-title {
    width: 376px;
    height: 42px;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.work-list {
    margin-top: 50px;
}

/*team*/
.team {
    background: #F5F4FA;
}

.team-title {
    width: 264px;
    height: 42px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-list {
    margin-top: 50px;
    width: 1170px;
    left: 215px;
    top: 1635px;
}

/*footer*/
.footer {
    background-color: #2F303A;
    height: 252px;
    width: 1600px;
    left: 0px;
    top: 2097px;
    border-radius: 0px;
}

.address {
    height: 21px;
    left: 215px;
    top: 2208px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}